/* code to reset CSS Styles */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



@media (max-width: 923px) {
    .mainContainer .nameContainer {
        padding-left: 30px;
    }
    .mainContainer .nameContainer h1 {
        font-size: 60px;
        line-height: 1em;
    }
    .mainContainer .nameContainer h1 span {
        line-height: 0.4em !important;
    }

    #about {
        flex-direction: column;
        height: auto;
    }

    #skills {
        flex-direction: column-reverse;
    }

    #contactForm {
        flex-direction: column;
    }

    #about .aboutHeading p {
        flex: 0.5;
    }

    #skills .skillsHeading h2 {
        flex: 0.5;
    }

    #contactForm .mainForm > div {
        margin-right: 0;
        margin-bottom: 30px;
    }

    #about .aboutContent .content {
        flex: 0.99;
    }

    footer .bottomOne .bottomCopyright {
        padding-left: 15px;
        padding-right: 15px;
    }

    footer .bottomOne {
        height: auto;
    }

    #mainNavigation .navContent {
        flex: 0.9;
    }
}

@media (max-width: 515px) {
    .mainContainer .nameContainer h1 {
        font-size: 40px;
        line-height: 0.6em;
    }

    header .mainContainer .profileContainer img {
        height: 270px;
        width: 230px;
        margin-right: 30px;
    }

    #skills .skillsContainer .skillsContent {
        padding: 0;
    }
    #skills .skillsContainer .skillsContent .skillItem .allItem {
        justify-content: space-around;
    }

    #contactForm .mainForm > div {
        padding: 15px 30px;
        width: 75%;
    }

    footer .upperOne .contactMe > div:first-child {
        font-size: 28px;
    }

    .mainContainer {
        flex-direction: column;
    }

    footer .upperOne .contactMe .platform {
        width: 100%;
    }

    #contactForm .mainForm {
        align-items: unset;
        justify-content: unset;
    }

    #contactForm .mainForm > div {
        border-radius: 0;
        flex: 1;
        width: auto;
        padding: 15px 10px;
    }
    #contactForm .mainForm {
        height: auto;
    }
}

@media (max-width: 450px) {
    header .mainContainer .profileContainer img {
        width: 160px;
        height: 180px;
    }

    #about .aboutContent .content p {
        letter-spacing: 0.006em;
        font-size: 24px;
        line-height: 28px;
    }
}
